body {
  margin: 0;
  padding: 0;
  display: flex;
}

.background {
  background-image: url("https://images.unsplash.com/photo-1522850067562-a4c60453058d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=765&q=80");
  background-size: cover;
  min-height: 100vh;
  min-width: 40vw;
}

.logo-div {
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  padding: 3rem 0;
  position: relative;
  top: 20%;
}

.logo {
  color: white;
}

.form-container {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
}
.hero {
  text-align: left;
  margin-top: 10vw;
  margin-right: 10vw;
  font-size: 2rem;
  font-weight: 800;
}

form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 30vw;
  margin-top: 5vw;
  margin-bottom: 1vw;
}

button {
  height: 40px;
  width: 180px;
  background-color: green;
  color: white;
  margin: 1rem;
}

.input-box {
  display: flex;
  flex-direction: column;
  width: 12rem;
}

input {
  padding: 5px;
  border: 1px solid green;
}

.form-container span {
  margin: 0 1rem;
}
